body {
  margin: 0;
  font-family: 'Manjari', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.oauth-signin {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 5px;
  border: 1px solid #3c4859;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Manjari', -apple-system;
  color: #212F3D;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  padding: 16px 15px 10px 55px;
  text-decoration: none;
  user-select: none;
}

.oauth-signin:hover {
  background-color: #fff;
}

.signin-head,
.no-projects {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
  margin-top: 50px;
  color: rgb(36, 42, 48);
  user-select: none;
}

.control-center {
  height: 90px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #eaeaea;
  z-index: 1000;
}

.profile-head {
  position: absolute;
  top: 0px;
  right: 25px;
  height: 60px;
  width: 250px;
  vertical-align: middle;
  text-align: right;
  margin: 25px 15px 0px 0px;
}

.profile-head .details {
  float: right;
  padding: 8px 10px;
  text-align: left;
}

.details .display-name {
  font-size: 15px;
  font-weight: bold;
  color: rgb(36, 42, 48);
}

.details .options {
  font-size: 12px;
  color: rgb(36, 42, 48);
}

.details .options span {
  font-size: 11px;
  text-decoration: none;
  color: rgb(36, 42, 48);
  cursor: pointer;
}

.details .options span:hover {
  color: #c74545;
  cursor: pointer;
}

.stranger {
  font-weight: bold;
  padding-top: 15px;
}

.loader {
  min-width: 5rem;
  padding-top: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  z-index: 1000;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.loader:after,
.loader:before {
  width: 5rem;
  height: 5rem;
  margin: 0 0 0 -2.5rem;
}

.loader:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  border-radius: 500rem;
  border: .2em solid rgba(0, 0, 0, .1);
}

.loader:after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  -webkit-animation: loader .6s linear;
  animation: loader .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 transparent transparent;
  border-style: solid;
  border-width: .2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.loader .gitlab {
  width: 5rem;
  height: 5rem;
  margin-top: -4.5rem;
  margin-left: -0.4rem;
  animation: gitlab 2s infinite;
}

@keyframes gitlab {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.8;
  }
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 500rem;
  border: 2px solid #3c4859;
}

.snapshots {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
}

.screen-card {
  width: 490px !important;
}

.screen-compare {
  width: 700px !important;
  margin-bottom: 35px !important;
}

.screen-compare .act-button {
  width: 25% !important;
}

.snap-card,
.screen-compare,
.screen-card {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-transition: -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease;
  transition: box-shadow .1s ease, transform .1s ease, -webkit-box-shadow .1s ease, -webkit-transform .1s ease;
  margin: 0 20px 25px 0;
}

.screen-card img {
  width: 100%;
}

.snap-card .image {
  position: relative;
  display: block;
  width: 290px;
  height: 250px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  background: rgba(0, 0, 0, .05);
  background-size: cover;
  cursor: pointer;
}

.snap-card .image:hover {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.screen-card .image {
  width: auto;
  height: 100%;
}

.screen-card .image .emptyImage {
  text-align: center;
  padding: 45% 0px 45%;
  font-size: 30px;
  user-select: none;
}

.screen-card .content {
  text-align: center;
}

.screen-card .content .label {
  line-height: 40px;
  float: left;
}

.screen-card .content .extra-label {
  line-height: 40px;
  float: right;
  font-weight: bold;
  color: rgb(182, 95, 109);
}

.snap-card .content,
.screen-card .content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  margin: 0;
  padding: 1em 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}

.snap-card .content div {
  text-transform: capitalize;
  min-height: 30px;
  max-height: 30px;
}

.snap-card .content .statusName {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  vertical-align: sub;
}

.float-right {
  float: right;
}

.snap-card .content .avatar {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
}

.screen-card .content .avatar {
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  margin-top: 6px;
}

.screen-card .extra-status .details {
  float: right;
  color: #fff;
  margin-right: 10px;
  padding-top: 6px;
}

.screen-card .extra-status .details .display-name {
  color: #fff;
  text-align: right;
}

.screen-card .extra-status .details time {
  font-size: 12px;
  float: right;
}

.screen-card .label-status {
  text-transform: capitalize;
  float: left;
  color: #fff;
  line-height: 40px;
  font-weight: bold;
}

.screen-card .act-buttons,
.screen-compare .act-buttons {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  vertical-align: baseline;
  margin: 0 .25em 0 0;
}

.toggle {
  -webkit-box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  color: rgb(214, 156, 79);
}

.toggle:active {
  background: 0 0 !important;
  -webkit-box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  color: rgb(214, 156, 79) !important;
}

.toggle:hover {
  background: rgb(214, 156, 79);
  -webkit-box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  box-shadow: 0 0 0 1px rgb(214, 156, 79) inset !important;
  color: #fff;
}

.makenew {
  -webkit-box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  color: rgb(83, 127, 177);
}

.makenew:active {
  background: 0 0 !important;
  -webkit-box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  color: rgb(83, 127, 177) !important;
}

.makenew:hover {
  background: rgb(83, 127, 177);
  -webkit-box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  box-shadow: 0 0 0 1px rgb(83, 127, 177) inset !important;
  color: #fff;
}

.failit {
  -webkit-box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  color: rgb(182, 95, 109);
}

.failit:active {
  background: 0 0 !important;
  -webkit-box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  color: rgb(182, 95, 109) !important;
}

.failit:hover {
  background: rgb(182, 95, 109);
  -webkit-box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  box-shadow: 0 0 0 1px rgb(182, 95, 109) inset !important;
  color: #fff;
}

.screen-compare .act-button:first-child,
.screen-card .act-button:first-child {
  border-radius: 5px;
  border-left: none;
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.inspector {
  cursor: url(/apple-icon-120x120.png) 60 60, auto;
}

.screen-compare .act-button:last-child,
.screen-card .act-button:last-child {
  border-radius: 5px;
  border-left: none;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.screen-card .act-button,
.screen-compare .act-button {
  width: 30%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  min-height: 16px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  margin: 0;
  padding: 14px 20px 12px;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.passed {
  background-color: rgb(105, 192, 127);
  color: #fff;
}


.failed {
  background-color: rgb(182, 95, 109);
  color: #fff;
}

.pending {
  background-color: rgb(214, 156, 79);
  color: #3c4859 !important;
}

.newbase {
  background-color: rgb(83, 127, 177);
  color: #fff;
}

.screen {
  text-transform: capitalize;
}


.app-footer {
  width: 100%;
  font-size: 12px;
  color: #3c4859;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.app-footer a {
  text-decoration: none;
  color: #3c4859;
}

.app-footer a:hover {
  text-decoration: none;
  font-weight: bold;
  color: rgba(31, 68, 47, 0.705);
}

.display-image {
  width: 30%;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
}

.display-image img {
  width: 100%;
}

.display-image label {
  width: 100%;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: bold;
  color: #ddd;
  margin: 3px;
  padding: 4px 12px 3px;
  background-color: #767676;
  border-radius: 6px;
}

.acted {
  margin-top: 15px;
  font-size: 14px;
}

.shadow {
  box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .07), 0 2px 9px 0 rgba(62, 57, 107, .06)
}


/* Job Details */
.job-content {
  margin: 25px 60px;
  text-align: left;
}

.job-content .project-id {
  color: #3c4859;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.job-content .feature-id {
  color: #3c4859;
  font-size: 38px;
  font-weight: bold;
  text-transform: lowercase;
  user-select: none;
}

.job-content .feature-id .marker {
  content: ' ';
  margin: 0 0 0 10px;
  border-radius: 500rem;
  border: 1px solid #eee;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding: 8px 20px 2px 20px;
  text-transform: uppercase;
}

.job-info {
  margin: 20px 0;
  font-size: 18px;
}

.job-info span {
  padding: 0 0 0 10px;
  font-size: 22px;
  user-select: none;
}

.job-info a {
  background-color: #ddd;
  padding: 8px 12px 4px;
  vertical-align: middle;
  border-radius: 8px;
  text-decoration: none;
  color: #212F3D;
  user-select: none;
}

.job-info a:hover {
  color: #ddd;
  background-color: #212F3D;
}

.job-heads-up {
  margin-top: 40px;
}

.job-row {
  margin: 25px 0 25px 0;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.job-row:after {
  clear: both;
}

.job-row-header {
  color: #212F3D;
  padding: 15px 0;
  vertical-align: middle;
  font-size: 22px;
  font-weight: bold;
}

.job-row-header .percentage {
  padding: 5px;
  color: rgb(172, 7, 70);
  vertical-align: baseline;
  font-weight: bold;
}

.job-row-header .percentage::before {
  content: '|';
  color: #ddd;
  padding-right: 10px;
  padding-left: 10px;
}

.job-row-actions {
  margin: 15px;
}

.action-button {
  font-family: 'Manjari', -apple-system;
  margin-left: 5px;
  margin-right: 5px;
}

.action-button {
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  padding: 20px 31px 16px;
  text-decoration: none;
  font-weight: bold;
  vertical-align: baseline;
  color: #212F3D;
}

.action-button:focus {
  outline: none;
}

.action-button:hover {
  background-color: #f8f8f8;
}

.action-failed {
  color: #ffffff;
  background-color: #c74545;
  border: 1px solid #ab1919;
}

.action-button:active {
  position: relative;
  top: 1px;
}

.head-menu {
  display: inline-block;
  float: left;
}

.icon-dashboard {
  width: 32px;
  height: 29px;
  display: block;
  margin: auto;
}

.dashboard label {
  font-size: 11px;
  cursor: pointer;
}

.dashboard {
  text-decoration: none;
  color: #212F3D;
}

.dashboard:hover {
  color: #c74545;
  cursor: pointer;
}

/* Project Dashboard */
.no-projects {
  padding: 60px 30px;
}

.home-content {
  margin: 20px 60px;
}

.content-title {
  font-size: 32px;
  font-weight: bold;
  color: #212F3D;
  margin-bottom: 25px;
  user-select: none;
}

.project-block {
  max-width: 300px;
  min-width: 300px;
  max-height: 200px;
  min-height: 200px;
  border: none;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 #d4d4d5;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  margin: 10px 20px 10px 0px;
  font-size: 22px;
  text-align: left;
}

.passed-block {
  color: #fff;
  background-color: rgba(105, 192, 127, 1);
}

.pending-block {
  color: #fff;
  background-color: rgb(231, 165, 77);
}

.failed-block {
  color: #fff;
  background-color: rgba(182, 95, 109, 1);
}

.project-block .project-header {
  padding: 20px 20px 10px 20px;
}

.project-block .project-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0, 0, 0, .4);
}

.project-block .job-name {
  text-transform: lowercase;
  padding: 3px 0px;
  font-weight: bold;
  font-size: 34px;
}

.project-block .last-status {
  font-size: 18px;
  padding: 5px 20px 15px 20px;
}

.project-block .last-run {
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  background: 0 0;
  margin: 0;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  border-radius: 0;
}

.project-block .last-run .avatar {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 500rem;
  border: 1px solid #eee;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 8px;
}

.project-block .last-run .display-name {
  line-height: 8px;
  margin-top: 8px;
  color: #3c4553;
  font-weight: bold;
  text-shadow: none;
}

.project-block .last-run .display-time {
  font-size: 12px;
  color: rgba(0, 0, 0, .4);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999990;

}

.modal .modal-main {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 9999990;
}

.modal-content {
  padding: 50px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.splitterBox {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.screens-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.splitter-container {
  position: relative;
  height: fit-content;
}

.splitter-image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.splitter-image img {
  display: block;
  vertical-align: middle;
}

.splitter-slider {
  position: absolute;
  z-index: 900;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.splitter-overlay {
  border-right: 2px solid rgba(0, 0, 0, .5);
}

.marker-ripple {
  background-color: #111;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}

@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 34, 34, 0.3), 0 0 0 5px rgba(34, 34, 34, 0.3), 0 0 0 10px rgba(34, 34, 34, 0.3), 0 0 0 7px rgba(34, 34, 34, 0.3);
  }

  100% {
    box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.3), 0 0 0 8px rgba(34, 34, 34, 0.3), 0 0 0 12px rgba(34, 34, 34, 0.3), 0 0 0 28px rgba(34, 34, 34, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(34, 34, 34, 0.3), 0 0 0 5px rgba(34, 34, 34, 0.3), 0 0 0 10px rgba(34, 34, 34, 0.3), 0 0 0 7px rgba(34, 34, 34, 0.3);
  }

  100% {
    box-shadow: 0 0 0 5px rgba(34, 34, 34, 0.3), 0 0 0 8px rgba(34, 34, 34, 0.3), 0 0 0 12px rgba(34, 34, 34, 0.3), 0 0 0 28px rgba(34, 34, 34, 0);
  }
}